{{- if and .Values.slack.enabled .Values.slack.webhookUrl (not .Values.slack.existingSecret.name) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "nodereaper.fullname" . }}-slack
  namespace: {{ include "nodereaper.namespace" . }}
  labels:
    {{- include "nodereaper.labels" . | nindent 4 }}
type: Opaque
data:
  slack-webhook-url: {{ .Values.slack.webhookUrl | b64enc | quote }}
{{- end }}
